
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* share style */
.text-primary{
  color: #FD6E0A;
}
.dark-2{
  color: #474747;
}
.primary-btn{
  background-color: #FD6E0A;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 14px 30px;
  border: none;
}
.section-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-desc{
  font-size: 18px;
  font-weight: 400;
  color: #757575;
}
.text-center{
  text-align: center;
}
/* header */
.header{
  background-color: #FFF8F3;
  background-image: url("../images/developer.png"), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* nav style */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
nav ul{
  display: flex;
  align-items: center;
}
.nav-title{
  font-weight: 800;
  font-size: 45px;
}

nav ul li{
  list-style: none;
  margin-right: 50px;
}
nav ul li a{
  text-decoration: none;
}

/* banner style */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content{
  width: 580px;
}
.banner-greeting{
  font-size: 45px;
  font-weight: 600;
}
.banner-title{
  font-size: 80px;
  font-weight: bold;
}
.banner-desc{
  font-size: 18px;
}
.banner-profile-pic{
  width: 580px;
}

/* Main style */
main{
  max-width: 1140px;
  margin: 0 auto;
  
  
}
.About{
  background-color: #FFF8F3;
  padding: 90px 120px;
  margin-top: 120px;
  text-align: center;
  border-radius: 10px;
}
.about-item{
  display: flex;
  justify-content: space-around;
}
.item-title{
  font-weight: 400;
}
.item-desc{
  font-weight: 600;
}

/* skill section */

.skills-container{
  display: flex;
  gap: 20px;
  margin-top: 50px;
  
}
.skills{
  padding: 70px 0;
}
.skill{
  padding: 20px;
  box-shadow: 0px 6px 50px 0px rgba(102, 37, 37, 0.06);
  
}

/* secsion end */
.resume{
  padding-bottom: 90px;
}
.resume-container{
  display: flex;
  gap: 24px;
}
.resume-colum-title{
  font-weight: bold;
  font-size: 30px;
}
.experience{
  column-gap: 0px;
}
.experience-desc{
  color: #757575;
  font-size: 17px;
  
}
.experience-sub-title{
  font-size: 18px;
  color: #757575;
  
}
.resume-downlod-btn{
  margin-top: 40px;
}